import "http" as http
import { route, registerRoutes } from "@caja/acerola"

let server = http.newRouter()

registerRoutes(server) {
    route("GET", "/") req => {
        return http.ok("Hello from {{.Name}}!")
    }
}

http.listen(server, 8080)
